<h1>ClickFix Services</h1>

<ul id="services">

	<% @services.each do |service| %>
		<li>
			<%= link_to service.name, service_path(service) %>
			<%= link_to "Order Now", new_order_path(service_id: service.id) %>
		</li>
	<%end%>
</ul>

<%= link_to "Create new services" ,  new_service_path, class: "new_service" %>
